body {
    background-image: url('images/ggb-bg.png');
    background-color: rgb(50, 68, 80);
    background-size: cover;
    
}

h1 {
    color:white;
    text-decoration: underline;
}

p {
    color: white;
    font-size: 120%;
}

a:visited {
    color: white;
}

nav {
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: rgb(50, 68, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

nav a:visited {
    color:  rgb(50, 68, 80);
}

nav a:hover {
    background-color: #333;
    color: white;
}

footer hr {
    color: white;
}

.right-section {
    float:right;
    padding-right: 25%;
    padding-top: 5%;
    color: white;
    font-size: 150%;
    text-align: right;
}

#profile-pic {
    border-radius: 50%;
}

#landing-blurb {
    font-size: 400%;
    color: white;
    width: 65%;
    height: 65%;
    float: right;
    padding-top: 10%;
}

#contact-info {
    font-size: 30px;
    color:white;
}



.left-column {
    float: left;
    width: 25%;
    color: white;
    font-size: 150%;
    padding: 2%;
}

.right-column {
    float: left;
    width: 65%;
    padding: 2%;
    color: white;
    font-size: 150%;
    text-align: right;
}


